/* apple-car5 and 6 */
.container1 {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 15px;
  text-align: center;
  font-family: arial;
  background-color: white;
}

.price {
  color: grey;
  font-size: 22px;
}



/* appleCar7 */

.apple-car7-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  
}

.apple-car7-card{
  position: relative;
  width: 420px;
  height: 520px;
  border-radius: 20px;
  overflow: hidden;
  background: #f5f5f7;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.apple-car7-content{
  position: absolute;
  top: 50px;
  left: 40px;
  right: 20px;
  z-index: 2;
  color: #000;
}

.apple-car7-content h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #111827;
  margin: 0 0 8px 0;
}

.apple-car7-content p {
  color: #4b5563;
  font-size: 14px;
  line-height: 1.4;
}

.apple-car7-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sp {
  background: linear-gradient(90deg, #0079d0, #9e52d8, #da365c, #d04901);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 30px;
}


.text-white{
    color: white;
}
.text-white p{
    color: white;
}